#test1 {
	width: 700px;
	height: 500px;
	background-color: #819198;
	margin: 50px auto;
	border: 5px solid #007AFF;
	position: relative;
	overflow-x:hidden;
}

@keyframes fly {
	from {
		/*left: 100%;*/
		right:0;
	}
	to {
		/*left: 0;*/
		right:100%;
	}
}

.bullet {
	position: absolute;
	/*设置一个很大的负值使其不会出现在页面上*/
	/*但此做法不一定最好*/
	right:-5000px;
	/*设置这个属性好像不好使，显示还是ease*/
	animation-timing-function: cubic-bezier(0,0,1,1);
	-webkit-animation-timing-function: cubic-bezier(0,0,1,1);
	animation-fill-mode: none;
	
	line-height: 30px;
	font-size: 20px;
	height:30px;
	display: inline-block;
	border:1px solid #007AFF;
}

.bullet-default-animation {
	animation: fly 8s;
}
